// @import "animate";
@import "slick";
@import "slick-theme";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
    color: #fff !important;
    background: #04012b;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1 {
    font-family: 'Anton', sans-serif !important;
}

header {
    padding: 50px 0;

    @media(max-width:767px) {
        padding: 20px 0 15px;
    }

    .container {
        position: relative;
    }

    .cn-logo {
        text-align: center;

        img {
            width: 100%;
            max-width: 200px;

            @media(max-width:767px) {
                max-width: 130px;
            }
        }
    }

    .cn-shadow {
        position: absolute;
        top: -90px;
        right: 50px;

        @media(max-width:767px) {
            right: 0;

            img {
                width: 100%;
                max-width: 150px;
            }
        }
    }
}

.cn-bannerSection {
    position: relative;

    .cn_shadow_1 {
        position: absolute;
        bottom: 0;
        left: 0;

        @media(max-width:767px) {
            bottom: 100px;

            img {
                width: 100%;
                max-width: 80px;
            }
        }
    }

    .cn_shadow_2 {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .container {
        position: relative;

        .cn-headTitle {
            font-size: 94px;
            font-weight: 700;
            text-align: center;
            line-height: 5.2rem;
            padding: 80px 0 50px;

            @media(max-width:1199px) {
                font-size: 65px;
                line-height: 4rem;
                padding: 40px 0 50px;

                @media(max-width:991px) {
                    font-size: 52px;
                    line-height: 3.3rem;
                    padding: 20px 0 50px;

                    @media(max-width:767px) {
                        font-size: 32px;
                        line-height: 2.2rem;
                    }
                }
            }

            span {
                color: #32f895;
            }
        }

        .cn-animatedIcon {
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            height: 100%;

            .my-animated-box {
                width: 100%;
                height: 100%;
            }

            .cn_coinAnimation_1 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                max-width: 220px;

                @media(max-width:991px) {
                    max-width: 150px;

                    @media(max-width:767px) {
                        max-width: 90px;
                        top: -55px;
                    }
                }
            }

            .cn_coinAnimation_2 {
                position: absolute;
                top: 35%;
                transform: translate(0, 35%);
                right: -60px;
                width: 100%;
                max-width: 220px;

                @media(max-width:1199px) {
                    right: 0;

                    @media(max-width:991px) {
                        max-width: 150px;

                        @media(max-width:767px) {
                            top: 50%;
                            max-width: 90px;
                        }
                    }
                }
            }

            .cn_coinAnimation_3 {
                position: absolute;
                bottom: -50px;
                left: 100px;
                width: 100%;
                max-width: 160px;

                @media(max-width:991px) {
                    max-width: 130px;

                    @media(max-width:767px) {
                        max-width: 70px;
                        bottom: -10px;
                        left: 40px;
                    }
                }
            }
        }
    }

    .cn-launchCols {
        padding: 50px 0;
        text-align: center;

        @media(max-width:767px) {
            padding: 50px 15px;
        }

        h3.title {
            font-size: 36px;
            font-weight: 600;
            color: #32f895;
            margin-bottom: 30px !important;

            @media(max-width:1199px) {
                font-size: 26px;

                @media(max-width:991px) {
                    font-size: 22px;

                    @media(max-width:767px) {
                        margin-bottom: 15px !important;
                    }
                }
            }
        }

        p {
            font-size: 30px;

            @media(max-width:1199px) {
                font-size: 22px;

                @media(max-width:991px) {
                    font-size: 16px;
                }
            }
        }

        .cn-launchCols-btn {
            text-align: center;
            padding: 20px 0;

            @media(max-width:767px) {
                padding: 0;
            }

            a {
                display: inline-block;
                font-size: 26px;
                text-transform: uppercase;
                font-weight: 700;
                color: #fff;
                padding: 35px 45px;
                text-decoration: none;
                border-radius: 100px;
                background: rgb(232, 147, 254);
                background: -moz-linear-gradient(left, rgba(232, 147, 254, 1) 0%, rgba(129, 188, 255, 1) 100%);
                background: -webkit-linear-gradient(left, rgba(232, 147, 254, 1) 0%, rgba(129, 188, 255, 1) 100%);
                background: linear-gradient(to right, rgba(232, 147, 254, 1) 0%, rgba(129, 188, 255, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e893fe', endColorstr='#81bcff', GradientType=1);

                @media(max-width:1199px) {
                    padding: 22px 35px;

                    @media(max-width:991px) {
                        padding: 15px 30px;
                        font-size: 20px;

                        @media(max-width:767px) {
                            font-size: 16px;
                        }
                    }
                }

                &:hover {
                    transition: all 0.5s;
                    background: rgb(129, 188, 255);
                    background: -moz-linear-gradient(left, rgba(129, 188, 255, 1) 0%, rgba(232, 147, 254, 1) 100%);
                    background: -webkit-linear-gradient(left, rgba(129, 188, 255, 1) 0%, rgba(232, 147, 254, 1) 100%);
                    background: linear-gradient(to right, rgba(129, 188, 255, 1) 0%, rgba(232, 147, 254, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bcff', endColorstr='#e893fe', GradientType=1);
                }
            }
        }
    }
}

.cn-teamSlideMain {
    padding: 50px 0;

    @media(max-width:767px) {
        padding: 0;
    }

    .cn-teamTitle {
        font-size: 72px;
        font-family: 'Anton', sans-serif !important;
        line-height: 4.7rem;
        padding: 70px 0;

        @media(max-width:1199px) {
            font-size: 42px;
            line-height: 3rem;
            padding: 30px 0;

            @media(max-width:991px) {
                padding: 0;
                font-size: 36px;
                line-height: 2.5rem;

                @media(max-width:767px) {
                    br {
                        display: none;
                    }

                    text-align: center;
                    font-size: 30px;
                    margin-bottom: 15px;
                }
            }
        }

    }

    .cn-teamSlide {
        .slick-prev {
            left: -90px;
            position: absolute;
            bottom: 40px;
            top: inherit;

            @media(max-width:991px) {
                bottom: 10px;
            }

            &::before {
                content: '';
                background: url('../images/slider-arrow-preview.png') no-repeat;
                padding: 10px 16px;
                background-size: 40px;

                @media(max-width:991px) {
                    padding: 3px 12px;
                    background-size: 27px;
                }
            }
        }

        .slick-next {
            right: inherit;
            left: -50px;
            position: absolute;
            bottom: 40px;
            top: inherit;

            @media(max-width:991px) {
                bottom: 10px;
            }

            &::before {
                content: '';
                background: url('../images/slider-arrow.png') no-repeat;
                padding: 10px 16px;
                background-size: 40px;

                @media(max-width:991px) {
                    padding: 3px 12px;
                    background-size: 27px;
                }
            }
        }
    }

    .cn-teamSlide-cols {
        position: relative;
        margin: 0 12px;

        &::after {
            content: '';
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, black 100%) !important;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 220px;
            z-index: 9;
        }

        figure {
            margin: 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 0 25px;
            z-index: 99;

            h6 {
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 700;
                position: absolute;
                top: 50%;
                width: 100%;
                text-align: center;
                transform: translate(-50%, -50%);
                left: 50%;

                @media(max-width:1199px) {
                    font-size: 18px;

                    @media(max-width:991px) {
                        font-size: 14px;

                        @media(max-width:767px) {
                            font-size: 18px;
                        }
                    }
                }
            }

            a {
                display: inline-block;
                border: 4px solid #32f895;
                border-radius: 30px;
                padding: 15px 0;
                color: #32f895;
                background: transparent;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                position: absolute;
                bottom: 25px;
                left: 50%;
                transform: translate(-50%);
                width: 80%;
                transition: all 0.5s;

                @media(max-width:1199px) {
                    border: 2px solid #32f895;
                    font-size: 14px;
                    padding: 10px 0;

                    @media(max-width:991px) {
                        font-size: 10px;
                        padding: 8px 0;

                        @media(max-width:767px) {
                            font-size: 14px;
                            padding: 10px 0;
                        }
                    }
                }

                &:hover {
                    background: #32f895;
                    transition: all 0.5s;
                    color: #fff;
                }
            }
        }
    }
}

.cn-buyExchange-main {
    padding: 50px 0;
    position: relative;

    .cn_shadow_4 {
        position: absolute;
        left: -20px;
        bottom: -80px;
        z-index: 9;
        width: 100%;
        max-width: 210px;
        opacity: 0.5;

        @media(max-width:767px) {
            left: -40px;
            bottom: -20px;
            max-width: 150px;
        }
    }

    .cn-buyExchange-head {
        background: #fe00a9;
        padding: 50px;
        padding-bottom: 210px;
        border-radius: 5px;

        @media(max-width:767px) {
            padding: 15px;
            padding-bottom: 150px;
        }

        h1 {
            width: 100%;
            max-width: 650px;
            margin: auto;
            font-size: 58px !important;
            margin-bottom: 10px;

            @media(max-width:1199px) {
                font-size: 42px !important;

                @media(max-width:767px) {
                    font-size: 30px !important;
                }
            }
        }

        p {
            font-size: 22px;

            @media(max-width:1199px) {
                font-size: 18px;
            }
        }
    }

    .cn-buyExchange-box {
        background: #04012b;
        padding: 30px 50px;
        border-radius: 8px;
        width: 100%;
        max-width: 90%;
        margin: auto;
        margin-top: -200px;
        height: 560px;
        overflow-y: hidden;
        position: relative;
        z-index: 99;

        @media(max-width:767px) {
            margin-top: -150px;

            .row.mt-5 {
                margin-top: 25px !important;
            }
        }

        @media(max-width:1199px) {
            height: 450px;

            @media(max-width:991px) {
                height: 350px;

                @media(max-width:767px) {
                    padding: 25px;
                    height: auto;
                }
            }
        }

        .cn-buyExchange-box-cols {
            img {
                filter: blur(8px);
                transition: all 0.5s;
            }

            transition: all 0.5s;

            &:hover {
                img {
                    transition: all 0.5s;
                    filter: blur(0);
                }
            }

            @media(max-width:767px) {
                margin-bottom: 20px;
            }
        }

        .title {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 20px;

            @media(max-width:991px) {
                font-size: 18px;
            }
        }
    }
}

.cn-columnsMain {
    padding: 100px 0;

    @media(max-width:767px) {
        padding: 20px 0;
    }

    .cn-columnsFlex {
        display: flex;

        @media(max-width:991px) {
            flex-wrap: wrap;
        }

        .cn-columnsLeft-panel {
            padding-right: 15px;
            width: 100%;

            @media(max-width:991px) {
                padding-right: 0;
            }

            h2 {
                font-size: 58px;
                font-family: 'Anton', sans-serif !important;
                font-weight: 400;

                @media(max-width:1199px) {
                    font-size: 42px;

                    @media(max-width:767px) {
                        font-size: 30px;
                        text-align: center;

                        br {
                            display: none;
                        }
                    }
                }
            }

            p {
                font-size: 24px;

                @media(max-width:767px) {
                    text-align: center;
                    font-size: 18px;
                }
            }
        }

        .cn-columnsRight-panel {
            width: 100%;
            padding-left: 15px;

            @media(max-width:991px) {
                padding-left: 0;
                margin-top: 40px;
            }

            .cn-columnsRight-box {
                background: #35feea;
                padding: 10px 30px 30px;
                border-radius: 8px;
                position: relative;

                @media(max-width:767px) {
                    padding: 10px 20px 5px;
                }

                .cn-cointIcon {
                    width: 100%;
                    max-width: 180px;
                    position: absolute;
                    top: -100px;
                    right: 10px;

                    @media(max-width:767px) {
                        max-width: 110px;
                        top: -60px;
                    }

                    img {
                        width: 100%;
                    }
                }

                .cn-countNumber {
                    font-size: 70px;
                    font-weight: 700;
                    color: #000;
                    line-height: 2.8rem;

                    @media(max-width:767px) {
                        font-size: 36px;
                        line-height: 2.2rem;
                        margin-top: 15px;
                    }

                    span {
                        font-size: 24px;
                        font-weight: 600;
                        display: block;
                    }
                }

                p {
                    font-size: 28px;
                    color: #000;
                    font-weight: 700;
                    width: 100%;
                    max-width: 400px;
                    line-height: 2.2rem;
                    margin-top: 35px;

                    @media(max-width:767px) {
                        margin-top: 10px;
                        max-width: 400px;
                        line-height: 1.7rem;
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

.cn-tokenMain {
    padding: 80px 0;

    @media(max-width:991px) {
        padding: 0;
    }

    h2 {
        font-size: 58px;
        font-family: 'Anton', sans-serif !important;
        font-weight: 400;

        @media(max-width:1199px) {
            font-size: 42px;

            @media(max-width:767px) {
                font-size: 30px;
                text-align: center;
            }
        }
    }

    p {
        font-size: 24px;

        @media(max-width:1199px) {
            font-size: 20px;

            @media(max-width:767px) {
                text-align: center;
                font-size: 18px;
            }
        }
    }
}

.cn-graphMain {
    padding: 80px 0;
    position: relative;

    @media(max-width:767px) {
        padding: 30px 0;
    }

    .cn_shadow_5 {
        position: absolute;
        top: -50px;
        right: 0;
        width: 100%;
        max-width: 110px;
    }

    .cn-graphText {
        h2 {
            font-size: 58px;
            font-family: 'Anton', sans-serif !important;
            font-weight: 400;

            @media(max-width:1199px) {
                font-size: 42px;

                @media(max-width:767px) {
                    text-align: center;
                    font-size: 30px;
                }
            }
        }

        ul {
            padding: 0;
            padding-top: 15px;
            padding-left: 20px;
            margin: 0;

            @media(max-width:767px) {
                margin-bottom: 30px;
            }

            li {
                font-size: 18px;

                @media(max-width:767px) {
                    font-size: 14px;
                }

                &::marker {
                    font-size: 22px;
                }

                &:nth-child(01) {
                    &::marker {
                        color: #7de314;
                    }
                }

                &:nth-child(02) {
                    &::marker {
                        color: #14a0c0;
                    }
                }

                &:nth-child(03) {
                    &::marker {
                        color: #5059ab;
                    }
                }

                &:nth-child(04) {
                    &::marker {
                        color: #f9c778;
                    }
                }

                &:nth-child(05) {
                    &::marker {
                        color: #f171ff;
                    }
                }
            }
        }
    }

    .cn-graphImg {
        @media(max-width:767px) {
            padding: 20px;
        }
    }
}

.cn-cardSlideMain {
    padding: 80px 0;

    @media(max-width:767px) {
        padding: 30px 0;

        .row.mt-5 {
            margin-top: 0 !important;
            padding-top: 20px !important;
        }
    }

    h2 {
        font-size: 58px;
        font-family: 'Anton', sans-serif !important;
        font-weight: 400;

        @media(max-width:1199px) {
            font-size: 42px;

            @media(max-width:767px) {
                font-size: 30px;
                text-align: center;
                margin: 20px 0;

                br {
                    display: none;
                }
            }
        }
    }

    p {
        font-size: 24px;

        @media(max-width:1199px) {
            font-size: 20px;

            @media(max-width:767px) {
                font-size: 18px;
                text-align: center;
            }
        }
    }

    .cn-slideCard {
        .cn-cardSlide-box {
            background: #06014a;
            padding: 80px 25px;
            text-align: center;
            border-radius: 8px;
            margin: 0 12px;
            min-height: 430px;

            @media(max-width:1199px) {
                padding: 35px 25px;
                min-height: 320px;

                @media(max-width:991px) {
                    padding: 25px 10px;
                }
            }

            .cn-cardSlide-icons {
                width: 100%;
                max-width: 80px;
                margin: auto;
                margin-bottom: 30px;
            }

            .title {
                font-family: 'Anton', sans-serif !important;
                font-size: 30px;

                @media(max-width:1199px) {
                    font-size: 22px;

                    @media(max-width:767px) {
                        font-size: 28px;
                    }
                }
            }

            p {
                color: #ccc;
                font-size: 21px;
                line-height: 28px;
                margin: 15px 0;

                @media(max-width:1199px) {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}

.cn-nftMain {
    padding: 80px 0;

    @media(max-width:767px) {
        padding: 30px 0;
    }

    .cn-nfthead {
        background: #0d038c;
        padding: 60px 50px;
        padding-bottom: 210px;
        border-radius: 5px;

        @media(max-width:767px) {
            padding: 20px 15px;
        }

        h1 {
            width: 100%;
            max-width: 650px;
            margin: auto;
            font-size: 58px !important;
            margin-bottom: 10px;

            @media(max-width:1199px) {
                font-size: 42px !important;

                @media(max-width:767px) {
                    font-size: 30px !important;
                }
            }
        }

        p {
            font-size: 22px;

            @media(max-width:1199px) {
                font-size: 16px;
                margin: 0;
            }
        }
    }

    .cn-collectItems {
        padding: 50px;
        margin-top: -230px;

        @media(max-width:767px) {
            padding: 0;
            margin-top: 30px;
        }

        .cn-collectImg {
            padding: 0 10px;
            position: relative;

            @media(max-width:767px) {
                margin-bottom: 20px;
            }

            figure {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;

                .title {
                    text-transform: uppercase;
                    font-size: 24px;
                    font-weight: 700;

                    @media(max-width:1199px) {
                        font-size: 15px;

                        @media(max-width:991px) {
                            font-size: 12px;

                            @media(max-width:767px) {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }

            img {
                filter: blur(6px);
                box-shadow: 0 0 20px #000;
            }
        }
    }
}

.cn-networkRoadMap-main {
    @media(max-width:767px) {
        padding: 15px 0;

        .d-flex {
            flex-wrap: wrap;
            text-align: center;
        }
    }

    h1 {
        font-size: 58px !important;
        margin-bottom: 10px;
        margin-bottom: 80px;

        @media(max-width:1199px) {
            font-size: 42px !important;

            @media(max-width:767px) {
                font-size: 30px !important;
                margin-bottom: 10px;
            }
        }
    }

    .bgTitle {
        font-size: 190px;
        font-family: 'Anton', sans-serif !important;
        line-height: 7rem;
        padding-right: 15px;

        @media(max-width:1199px) {
            font-size: 140px;
            line-height: 5rem;

            @media(max-width:767px) {
                font-size: 140px;
                line-height: 11rem;
                margin: auto;
            }
        }
    }

    .cn-networkRoadText {
        line-height: 1.7rem;

        b {
            font-size: 72px;
            font-family: 'Anton', sans-serif !important;
            font-weight: 400;

            @media(max-width:1199px) {
                font-size: 52px;
            }
        }

        p {
            font-size: 20px;

            @media(max-width:1199px) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

.cn-getinTouchMain {
    padding: 80px 0;

    @media(max-width:1199px) {
        padding: 50px 0;

        @media(max-width:767px) {
            padding: 30px 0;

            .row {
                flex-direction: column-reverse;
            }
        }
    }

    .cn-getTouch-text {
        padding-right: 50px;

        @media(max-width:767px) {
            padding-right: 0;
            text-align: center;
        }

        .title {
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 400;
            color: #46e279;
            margin-bottom: 25px;

            @media(max-width:767px) {
                margin-bottom: 20px;
            }
        }

        p {
            font-weight: 600;
            font-size: 32px;
            line-height: 2.5rem;

            @media(max-width:1199px) {
                font-size: 26px;
                line-height: 2rem;

                @media(max-width:767px) {
                    font-size: 18px;
                    line-height: 1.5rem;
                }
            }
        }

        a {
            display: inline-block;
            font-size: 26px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            padding: 25px 35px;
            margin-top: 25px;
            text-decoration: none;
            border-radius: 100px;
            background: #e893fe;
            background: -webkit-gradient(linear, left top, right top, from(#e893fe), to(#81bcff));
            background: linear-gradient(to right, #e893fe 0%, #81bcff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e893fe', endColorstr='#81bcff', GradientType=1);

            @media(max-width:1199px) {
                padding: 15px 30px;
                font-size: 20px;

                @media(max-width:767px) {
                    padding: 12px 28px;
                    font-size: 16px;
                    margin-top: 0;
                }
            }

            &:hover {
                transition: all 0.5s;
                background: rgb(129, 188, 255);
                background: -moz-linear-gradient(left, rgba(129, 188, 255, 1) 0%, rgba(232, 147, 254, 1) 100%);
                background: -webkit-linear-gradient(left, rgba(129, 188, 255, 1) 0%, rgba(232, 147, 254, 1) 100%);
                background: linear-gradient(to right, rgba(129, 188, 255, 1) 0%, rgba(232, 147, 254, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bcff', endColorstr='#e893fe', GradientType=1);
            }
        }
    }

    .cn-getTouch-img {
        width: 100%;
        max-width: 250px;

        @media(max-width:767px) {
            max-width: 200px;
            margin: auto;
            margin-bottom: 20px;
        }
    }
}

footer {
    padding: 80px 0 0;

    @media(max-width:767px) {
        padding: 30px 0 0;
    }

    .cn-footerLogo {
        @media(max-width:767px) {
            text-align: center;
            width: 100%;
            max-width: 70px;
            margin: auto;
            margin-bottom: 20px;
        }
    }

    .cn-footerText {
        p {
            font-size: 16px;

            @media(max-width:767px) {
                font-size: 14px;
                text-align: center;
            }
        }
    }

    .cn-footerSocial {
        padding: 15px 0 0;

        @media(max-width:767px) {
            text-align: center;
        }

        a {
            display: inline-block;
            margin-right: 8px;

            img {
                width: 100%;
                max-width: 45px;
                height: 45px;
                border-radius: 50%;
                transition: all 0.5s;
                margin-top: 0;

                &:hover {
                    box-shadow: 0 0 10px #ff05aa;
                    transition: all 0.5s;
                    margin-top: -5px;
                }
            }
        }
    }

    .cn-footerCopyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 0 10px;

        @media(max-width:767px) {
            padding: 20px 10px;
            flex-wrap: wrap;
        }

        p {
            margin: 0;
            font-size: 16px;

            @media(max-width:1199px) {
                font-size: 14px;

                @media(max-width:767px) {
                    font-size: 12px;
                    text-align: center;
                }
            }
        }

        .cn-footerNav {
            @media(max-width:767px) {
                text-align: center;
                display: block;
                width: 100%;
            }

            a {
                font-size: 16px;
                color: #fff;
                text-decoration: none;
                border-right: 1px solid #fff;
                padding: 0 15px;

                @media(max-width:767px) {
                    font-size: 12px;
                    padding: 0 10px;
                    text-align: center;
                }

                @media(max-width:1199px) {
                    font-size: 14px;
                }

                &:hover {
                    color: #46e279;
                    transition: all 0.5s;
                }

                &:last-child {
                    border-right: none;
                    padding-right: 0;
                }
            }
        }

    }
}

@-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  