@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif !important;
}

@font-face {
  font-family: "Vampire Wars";
  src: url("../fonts/Vampire Wars.eot");
  src: url("../fontsVampire Wars.eot?#iefix") format("embedded-opentype"), url("../fonts/Vampire Wars.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "god-of-war";
  src: url("../fonts/god-of-war.eot");
  src: url("../fonts/god-of-war.eot?#iefix") format("embedded-opentype"), url("../fonts/god-of-war.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
h3.title {
  font-family: "Vampire Wars" !important;
  font-size: 28px;
  text-align: center;
  background: #fbee2e;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#fbee2e), to(#ac6022));
  background: linear-gradient(to bottom, #fbee2e 0%, #ac6022 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fbee2e", endColorstr="#ac6022",GradientType=0 );
  /* IE6-9 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
@media (max-width: 991px) {
  header {
    padding: 15px 0;
  }
}
@media (max-width: 991px) {
  header .vs-nav.opennav {
    left: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
header .vs-nav {
  margin-top: 20px;
}
header .vs-nav .vs-m-block {
  display: none;
}
@media (max-width: 991px) {
  header .vs-nav .vs-m-block {
    display: block;
  }
  header .vs-nav .vs-m-block li {
    list-style-type: none;
  }
  header .vs-nav .vs-m-block li a.connectBtn {
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Vampire Wars";
    text-decoration: none;
    border-radius: 60px;
    font-weight: 300;
    background: #fef42f;
    background: -webkit-gradient(linear, left top, left bottom, from(#fef42f), to(#9a401f));
    background: linear-gradient(to bottom, #fef42f 0%, #9a401f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fef42f", endColorstr="#9a401f",GradientType=0 );
  }
  header .vs-nav .vs-m-block li a.connectBtn span {
    border: 3px solid #f4c50f;
    padding: 4px 12px;
    display: inline-block;
    border-radius: 60px;
    border: 3px solid -moz-linear-gradient(top, #fef42f 0%, #9a401f 100%);
    border: 3px solid -webkit-linear-gradient(top, #fef42f 0%, #9a401f 100%);
    border: 3px solid linear-gradient(to bottom, #fef42f 0%, #9a401f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fef42f", endColorstr="#9a401f",GradientType=0 );
  }
  header .vs-nav .vs-m-block li a.wallet {
    display: inline-block;
    padding: 8px 30px;
    border: 3px solid #fff;
    border-radius: 60px;
    margin-top: 12px;
    font-family: "god-of-war";
    font-weight: 400;
    text-decoration: none;
    color: #fff;
  }
}
@media (max-width: 991px) {
  header .vs-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    background: #000;
    margin: 0;
    z-index: 999;
    overflow-y: auto;
    padding: 25px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
header .vs-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 991px) {
  header .vs-nav ul {
    margin-bottom: 25px;
  }
}
header .vs-nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 45px;
}
@media (max-width: 1199px) {
  header .vs-nav ul li {
    margin-right: 25px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  header .vs-nav ul li {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}
header .vs-nav ul li:last-child {
  margin-right: 0;
}
header .vs-nav ul li a {
  font-family: "Vampire Wars";
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 1199px) {
  header .vs-nav ul li a {
    font-size: 15px;
  }
}
header .vs-nav ul li a:hover {
  color: #f4c50f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .vs-logo {
  position: absolute;
  left: 50%;
  top: 25px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
@media (max-width: 991px) {
  header .vs-logo img {
    width: 100%;
    max-width: 130px;
  }
}
@media (max-width: 991px) {
  header .vs-logo {
    position: inherit;
    -webkit-transform: inherit;
            transform: inherit;
  }
}
header .vs-headRight {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  header .vs-headRight .vs-m-none {
    display: none;
  }
}
header .vs-headRight li {
  list-style-type: none;
  display: inline-block;
}
header .vs-headRight li a {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
header .vs-headRight li a img {
  width: 100%;
  max-width: 20px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: 2px;
}
header .vs-headRight li a.connectBtn {
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Vampire Wars";
  border-radius: 60px;
  font-weight: 300;
  background: #fef42f;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#fef42f), to(#9a401f));
  background: linear-gradient(to bottom, #fef42f 0%, #9a401f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fef42f", endColorstr="#9a401f",GradientType=0 );
  /* IE6-9 */
}
header .vs-headRight li a.connectBtn:hover {
  background: #fef42f;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#9a401f), to(#fef42f));
  background: linear-gradient(to bottom, #9a401f 0%, #fef42f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#9a401f", endColorstr="#fef42f",GradientType=0 );
  /* IE6-9 */
}
header .vs-headRight li a.connectBtn span {
  border: 3px solid #f4c50f;
  padding: 4px 12px;
  display: inline-block;
  border-radius: 60px;
  border: 3px solid -moz-linear-gradient(top, #fef42f 0%, #9a401f 100%);
  /* FF3.6-15 */
  border: 3px solid -webkit-linear-gradient(top, #fef42f 0%, #9a401f 100%);
  /* Chrome10-25,Safari5.1-6 */
  border: 3px solid linear-gradient(to bottom, #fef42f 0%, #9a401f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fef42f", endColorstr="#9a401f",GradientType=0 );
  /* IE6-9 */
}
header .vs-headRight li a.wallet {
  display: inline-block;
  padding: 8px 30px;
  border: 3px solid #fff;
  border-radius: 60px;
  margin-left: 10px;
  font-family: "god-of-war";
  font-weight: 400;
}
header .vs-headRight .vs-profileUser {
  margin-left: 15px;
}
@media (max-width: 991px) {
  header .vs-headRight .vs-profileUser {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
header .vs-headRight .vs-profileUser .vs-mobBtnNav {
  display: none;
}
@media (max-width: 991px) {
  header .vs-headRight .vs-profileUser .vs-mobBtnNav {
    display: block;
    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    padding: 17px;
    background-size: 35px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-left: 40px;
  }
}
@media (max-width: 991px) {
  header .vs-headRight .vs-profileUser .vs-mobBtnNav.close-nav {
    position: fixed;
    right: 25px;
    top: 25px;
    z-index: 999;
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    padding: 17px;
    background-size: 25px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}
header .vs-headRight .vs-profileUser .dropdown .dropdown-toggle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .vs-headRight .vs-profileUser .dropdown .dropdown-toggle::after {
  display: block;
  color: #fff;
  margin-left: 10px;
  font-size: 24px;
}
header .vs-headRight .vs-profileUser .dropdown .dropdown-toggle img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .vs-headRight .vs-profileUser .dropdown .dropdown-menu {
  right: 0 !important;
  left: inherit !important;
  margin: 0 -26px !important;
  min-width: 100%;
  top: 53px !important;
  border-radius: 0;
  -webkit-transform: inherit !important;
          transform: inherit !important;
  padding: 0;
}
header .vs-headRight .vs-profileUser .dropdown .dropdown-menu li {
  width: 100%;
}
header .vs-headRight .vs-profileUser .dropdown .dropdown-menu li a {
  color: #333;
  display: block;
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  font-size: 14px;
}
header .vs-headRight .vs-profileUser .dropdown .dropdown-menu li a:focus {
  background: #f2f2f2;
}

.vs-banner {
  position: relative;
  background: #080808;
}
.vs-banner img {
  width: 100%;
}
.vs-banner video {
  width: 100%;
}
.vs-banner .vs-banner-trigger {
  position: absolute;
  bottom: 0;
  right: 1%;
}
.vs-banner .vs-banner-trigger button {
  border: 1px solid transparent;
  background: transparent;
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
.vs-banner .vs-banner-trigger .icon {
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 10px;
}
.vs-banner .vs-banner-trigger .icon::before {
  position: absolute;
  top: 48%;
  left: 50%;
  content: "";
  display: block;
  width: 3px;
  height: 44px;
  border-radius: 3px;
  -webkit-transform: translate(-50%, -50%) rotate(-55deg);
          transform: translate(-50%, -50%) rotate(-55deg);
  background: currentColor;
  -webkit-box-shadow: 0 0 0 2px black;
          box-shadow: 0 0 0 2px black;
}
.vs-banner .vs-banner-trigger.active .icon::before {
  display: none;
}
.vs-banner .vs-banner-trigger svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.divBG {
  background: url("../images/backgroung.jpg") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: 100% 0;
}
@media (max-width: 767px) {
  .divBG {
    background-size: cover;
    background-position: 100%;
  }
}

.vs-fluidMain {
  padding: 50px 0 30px;
  margin-top: 0;
}
@media (max-width: 767px) {
  .vs-fluidMain .vs-mob-sizecol-md-4 .col-md-4 {
    width: 33%;
    max-width: 33%;
  }
  .vs-fluidMain .vs-mob-sizecol-md-4 .col-md-4 .vs-aboutCols .vs-about-no {
    font-size: 24px;
  }
  .vs-fluidMain .vs-mob-sizecol-md-4 .col-md-4 .vs-aboutCols .vs-about-title {
    font-size: 12px;
  }
}
.vs-fluidMain .vs-aboutCols {
  position: relative;
  text-align: center;
  padding: 30px 0;
}
.vs-fluidMain .vs-aboutCols::after {
  content: "";
  background: url("../images/about-border.png") no-repeat;
  position: absolute;
  width: 67px;
  height: 139px;
  top: 0;
  right: -50px;
}
.vs-fluidMain .vs-aboutCols .vs-about-no {
  display: block;
  font-weight: 600;
  font-size: 34px;
  font-family: "god-of-war";
}
.vs-fluidMain .vs-aboutCols .vs-about-title {
  font-size: 15px;
  display: block;
}
.vs-fluidMain .vs-aboutCols.end::after {
  display: none;
}
.vs-fluidMain .vs-tokenomicsMain {
  padding: 80px 0 0;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenProgressBar {
  width: 100%;
  max-width: 900px;
  margin: auto;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenProgressBar .vs-tokenProgressBar-cols {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 60px;
  padding: 1px 0;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenProgressBar .vs-tokenProgressBar-cols span {
  height: 33px;
  margin: 0 3px;
  display: inline-block;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenProgressBar .vs-tokenProgressBar-cols span:first-child {
  border-radius: 30px 0 0 30px;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenProgressBar .vs-tokenProgressBar-cols span:last-child {
  border-radius: 0 30px 30px 0;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenProgressBar .vs-tokenProgressBar-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .vs-fluidMain .vs-tokenomicsMain .vs-tokenProgressBar .vs-tokenProgressBar-count {
    overflow-x: auto;
  }
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenProgressBar .vs-tokenProgressBar-count .count-no {
  line-height: 15px;
}
@media (max-width: 767px) {
  .vs-fluidMain .vs-tokenomicsMain .vs-tokenProgressBar .vs-tokenProgressBar-count .count-no {
    min-width: 115px;
  }
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenProgressBar .vs-tokenProgressBar-count .count-no .Sbtitle {
  font-size: 17px;
  font-family: "god-of-war";
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenProgressBar .vs-tokenProgressBar-count .count-no .title {
  font-size: 10px;
  color: #ababab;
  margin-left: -13px;
}
@media (max-width: 767px) {
  .vs-fluidMain .vs-tokenomicsMain .vs-tokenProgressBar .vs-tokenProgressBar-count .count-no .title {
    white-space: nowrap;
  }
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenProgressBar .vs-tokenProgressBar-count .count-no .title small.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable {
  padding: 30px 0;
  position: relative;
}
@media (max-width: 1199px) {
  .vs-fluidMain .vs-tokenomicsMain .vs-tokenTable {
    overflow-x: auto;
  }
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table {
  margin-bottom: 0;
  border: none !important;
}
@media (max-width: 1199px) {
  .vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table {
    width: 1000px;
  }
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr {
  border-width: inherit;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr:last-child td {
  border-bottom: none;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr:last-child td:first-child {
  border-radius: 0 0 10px 10px;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr:last-child td:nth-child(05) {
  text-align: center;
  background: #df5c0c;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0 0 8px 8px;
  outline: 2px solid #fff;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr th {
  font-family: "Vampire Wars";
  color: #df5c0c;
  font-weight: 300;
  border: none !important;
  font-size: 14px;
  padding: 15px 8px;
  border-bottom: 3px dashed #919191 !important;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr th:last-child {
  padding-left: 40px;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr th:nth-child(01) {
  background: #222;
  width: 140px;
  border-radius: 8px 8px 0 0;
}
@media (max-width: 1199px) {
  .vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr th:nth-child(01) {
    position: sticky;
    left: 0;
    z-index: 99;
  }
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr th:nth-child(02) {
  padding-left: 30px;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr th:nth-child(05) {
  position: relative;
  z-index: 9;
  color: #fff;
  text-align: center;
  background: #df5c0c;
  border-radius: 8px 8px 0 0;
  outline: 2px solid #fff;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr td {
  color: #fff;
  border: none;
  border-bottom: 3px dashed #919191;
  font-size: 13px;
  padding: 15px 8px;
  vertical-align: middle;
  white-space: nowrap;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr td:last-child {
  padding-left: 40px;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr td:last-child span {
  display: block;
  width: 100%;
  font-size: 11px;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr td:nth-child(01) {
  background: #222;
  width: 140px;
  font-family: "Vampire Wars";
  text-align: center;
  color: #f4c50f;
}
@media (max-width: 1199px) {
  .vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr td:nth-child(01) {
    position: sticky;
    left: 0;
    z-index: 99;
  }
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr td:nth-child(02) {
  padding-left: 30px;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr td:nth-child(03) {
  width: 150px;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr td:nth-child(04) {
  width: 150px;
}
.vs-fluidMain .vs-tokenomicsMain .vs-tokenTable table tr td:nth-child(05) {
  width: 130px;
  position: relative;
  z-index: 9;
  background: #df5c0c;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  text-align: center;
}
.vs-fluidMain .vs-codeCopyMain {
  padding: 30px 0;
}
.vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols {
  padding: 25px 40px;
  border-radius: 10px;
  background: #953b1f;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#953b1f), to(#f8ee2e));
  background: linear-gradient(to bottom, #953b1f 0%, #f8ee2e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#953b1f", endColorstr="#f8ee2e",GradientType=0 );
  /* IE6-9 */
}
@media (max-width: 767px) {
  .vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols {
    padding: 20px 15px;
  }
}
.vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsLogoCode {
  text-align: center;
}
@media (max-width: 767px) {
  .vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsLogoCode {
    margin-bottom: 25px;
  }
}
.vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsLogoCode .sbTitle {
  font-family: "god-of-war";
  font-size: 24px;
  display: block;
  text-align: center;
  margin-bottom: 3px;
}
.vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsCodeRight-txt .vs-copyCode-field {
  width: 100%;
  position: relative;
}
.vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsCodeRight-txt .vs-copyCode-field input {
  width: 100%;
  height: 50px;
  border: 2px solid #fff !important;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding-right: 60px;
}
.vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsCodeRight-txt .vs-copyCode-field .copyBtn {
  position: absolute;
  right: 15px;
  top: 9px;
  background: transparent;
  border: none;
  outline: none;
}
.vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsCodeRight-txt .vs-copyCode-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
@media (max-width: 480px) {
  .vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsCodeRight-txt .vs-copyCode-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsCodeRight-txt .vs-copyCode-box .vs-copyCode-cols {
  width: 100%;
  border: 2px solid #fff;
  text-align: center;
  border-radius: 8px;
  padding: 20px 0;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsCodeRight-txt .vs-copyCode-box .vs-copyCode-cols {
    margin-right: 15px;
  }
}
@media (max-width: 767px) and (max-width: 480px) {
  .vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsCodeRight-txt .vs-copyCode-box .vs-copyCode-cols {
    width: 48%;
    margin-right: 0;
  }
}
.vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsCodeRight-txt .vs-copyCode-box .vs-copyCode-cols:last-child {
  margin-right: 0;
}
@media (max-width: 480px) {
  .vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsCodeRight-txt .vs-copyCode-box .vs-copyCode-cols:last-child {
    width: 100%;
    margin-top: 20px;
  }
}
.vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsCodeRight-txt .vs-copyCode-box .vs-copyCode-cols .title {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsCodeRight-txt .vs-copyCode-box .vs-copyCode-cols .vs-total {
  font-size: 16px;
  font-weight: 600;
}
.vs-fluidMain .vs-codeCopyMain .vs-codeCopy-cols .vs-vdsCodeRight-txt .vs-copyCode-box .vs-copyCode-cols .vs-total span {
  display: block;
  width: 100%;
}
.vs-fluidMain .vs-ourTeamMain {
  padding: 30px 0;
}
@media (max-width: 991px) {
  .vs-fluidMain .vs-ourTeamMain .vs-outTeamPd .col-md-4 {
    width: 50%;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .vs-fluidMain .vs-ourTeamMain .vs-outTeamPd .col-md-4 {
    width: 100%;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}
.vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 150px 0 0;
}
@media (max-width: 767px) {
  .vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols {
    padding: 30px 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols .vs-ourTeam-img {
  width: 100%;
  max-width: 100px;
  position: absolute;
  left: 41px;
  bottom: 50px;
  z-index: 1;
}
@media (max-width: 767px) {
  .vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols .vs-ourTeam-img {
    position: inherit;
    left: inherit;
    bottom: inherit;
  }
}
.vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols .vs-ourTeam-img::after {
  content: "";
  width: 100%;
  max-width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #222;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols .vs-ourTeam-img img {
  position: relative;
  z-index: 9;
}
.vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols .vs-ourTeam-img img.nv-rl-90 {
  left: -90px;
}
@media (max-width: 767px) {
  .vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols .vs-ourTeam-img img.nv-rl-90 {
    left: 0;
  }
}
.vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols .vs-ourTeam-text {
  padding-left: 110px;
  position: relative;
  z-index: 9;
}
@media (max-width: 767px) {
  .vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols .vs-ourTeam-text {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
}
.vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols .vs-ourTeam-text .title {
  font-family: "Vampire Wars";
  font-size: 14px;
}
.vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols .vs-ourTeam-text p {
  font-size: 11px;
  line-height: 15px;
  margin: 0;
  width: 100%;
  max-width: 200px;
}
@media (max-width: 767px) {
  .vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols .vs-ourTeam-text p {
    margin: auto;
    max-width: 280px;
  }
}
.vs-fluidMain .vs-ourTeamMain .vs-ourTeam-cols .vs-ourTeam-text span {
  color: #e7b710;
  font-size: 12px;
}

.vs-joinVigdisMain {
  padding: 30px 0;
}
.vs-joinVigdisMain .vs-joinVigdis-cols {
  width: 100%;
  max-width: 700px;
  border: 2px solid #f4c50f;
  border-radius: 10px;
  margin: auto;
  padding: 25px 150px;
}
@media (max-width: 767px) {
  .vs-joinVigdisMain .vs-joinVigdis-cols {
    padding: 25px 15px;
  }
}
.vs-joinVigdisMain .vs-joinVigdis-cols .title {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}
.vs-joinVigdisMain .vs-joinVigdis-cols .vs-joinBtn {
  text-align: center;
  padding: 18px 0 25px;
}
.vs-joinVigdisMain .vs-joinVigdis-cols .vs-joinBtn a {
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Vampire Wars";
  border-radius: 60px;
  font-weight: 300;
  background: #fef42f;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#fef42f), to(#9a401f));
  background: linear-gradient(to bottom, #fef42f 0%, #9a401f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fef42f", endColorstr="#9a401f",GradientType=0 );
  /* IE6-9 */
}
.vs-joinVigdisMain .vs-joinVigdis-cols .vs-joinBtn a:hover {
  background: #fef42f;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#9a401f), to(#fef42f));
  background: linear-gradient(to bottom, #9a401f 0%, #fef42f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#9a401f", endColorstr="#fef42f",GradientType=0 );
  /* IE6-9 */
}
.vs-joinVigdisMain .vs-joinVigdis-cols .vs-joinBtn a span {
  border: 3px solid #f4c50f;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 60px;
  border: 3px solid -moz-linear-gradient(top, #fef42f 0%, #9a401f 100%);
  /* FF3.6-15 */
  border: 3px solid -webkit-linear-gradient(top, #fef42f 0%, #9a401f 100%);
  /* Chrome10-25,Safari5.1-6 */
  border: 3px solid linear-gradient(to bottom, #fef42f 0%, #9a401f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fef42f", endColorstr="#9a401f",GradientType=0 );
  /* IE6-9 */
}
.vs-joinVigdisMain .vs-joinVigdis-cols .vs-joinSocial {
  text-align: center;
}
.vs-joinVigdisMain .vs-joinVigdis-cols .vs-joinSocial a {
  margin: 0 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.vs-joinVigdisMain .vs-joinVigdis-cols .vs-joinSocial a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.vs-joinVigdisMain .vs-joinVigdis-cols .vs-joinSocial a:hover img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.vs-ourPartnerMain {
  margin: 50px 0 0;
  position: relative;
}
.vs-ourPartnerMain::before {
  content: "";
  background: url("../images/line.png") no-repeat;
  width: 100%;
  height: 5px;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.vs-ourPartnerMain::after {
  content: "";
  background: url("../images/line.png") no-repeat;
  width: 100%;
  height: 5px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.vs-ourPartnerMain .vs-partnerCols {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
@media (max-width: 767px) {
  .vs-ourPartnerMain .vs-partnerCols {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.vs-ourPartnerMain .vs-partnerCols .title {
  font-family: "Vampire Wars";
}
@media (max-width: 991px) {
  .vs-ourPartnerMain .vs-partnerCols .title {
    white-space: nowrap;
    margin-right: 25px;
  }
}
@media (max-width: 767px) {
  .vs-ourPartnerMain .vs-partnerCols .vs-partnerBox {
    margin: 10px 15px;
  }
}
.vs-ourPartnerMain .vs-partnerCols .vs-partnerBox img {
  width: 100%;
  max-width: 100px;
}

footer {
  padding: 10px 0;
  background: #080808;
  position: relative;
}
footer::before {
  content: "";
  background: url("../images/footer_bg.png") no-repeat;
  width: 380px;
  height: 600px;
  background-size: 380px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.2;
}
@media (max-width: 767px) {
  footer::before {
    width: 200px;
    height: 320px;
    background-size: 200px;
  }
}
footer .container {
  position: relative;
  z-index: 9;
}
footer h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
@media (max-width: 991px) {
  footer h4 {
    font-size: 15px;
  }
}
footer h4 span {
  color: #f4c50f;
}
footer .vs-appDownload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}
@media (max-width: 767px) {
  footer .vs-appDownload {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0;
  }
}
footer .vs-appDownload .vs-appDownload-cols {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  footer .vs-appDownload .vs-appDownload-cols {
    margin: 10px 0;
  }
}
footer .vs-appDownload .vs-appDownload-cols a {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 7px;
  background: #19181c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
footer .vs-appDownload .vs-appDownload-cols a:hover {
  background: #f4c50f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
footer .vs-appDownload .vs-appDownload-cols span {
  color: #bbbbbb;
  font-size: 14px;
}
footer .vs-appDownload .vs-appDownload-cols span small {
  color: #605f5e;
  font-size: 13px;
}
footer .vs-copyright {
  border-top: 1px solid #121212;
  text-align: center;
  width: 100%;
  display: block;
  padding: 20px 0 15px;
  font-size: 12px;
}